@model IEnumerable<Airbnb_PWEB.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reviews</h1>

<div class="card shadow mb-4 col-12">
        <div class="card-header py-3">
<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                Properties
            </th>
            <th>
                Check-In
            </th>
            <th>
                Check-Out
            </th>
            <th>
                Classification
            </th>
            <th>
                Comments
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reservation.Property.Tittle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reservation.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reservation.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Classification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EvaluationId"><img src="resources/edit.svg" width="7%" alt="Editar" /></a> 
                    <a asp-action="Delete" asp-route-id="@item.EvaluationId"><img src="resources/delete.svg" width="7%" alt="Remover" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
    </script>
}
