@model IEnumerable<Airbnb_PWEB.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Comentários</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Propriedade
            </th>
            <th>
                Check-In
            </th>
            <th>
                Check-Out
            </th>
            <th>
                Classificação
            </th>
            <th>
                Comentário
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.Property.Tittle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EvaluationId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.EvaluationId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
