@model Airbnb_PWEB.Models.ClientEvaluation

@{
    ViewData["Title"] = "Details";
}

<h1>Client Evaluation Details</h1>
<hr />
<div class="card shadow mb-4 col-12">
        <div class="card-body">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservation.ReservationId)
        </dd>
    </dl>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClientEvaluationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</div>
</div>
