@model IEnumerable<Airbnb_PWEB.Models.ClientEvaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Clients Evaluation</h1>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                Client
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Reservation.ApplicationUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                @if (User.IsInRole("Owner_Manager"))
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientEvaluationId"><img src="resources/edit.svg" width="5%" alt="Editar" /></a>
                <a asp-action="Delete" asp-route-id="@item.ClientEvaluationId"><img src="resources/delete.svg" width="5%" alt="Remover" /></a>
            </td>
                }
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
}