@model IEnumerable<Airbnb_PWEB.Models.ClientEvaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Avaliações de Clientes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reservation.ReservationId)
            </td>
                @if (User.IsInRole("Owner_Manager"))
                {
                    <td>
                    <a asp-action="Edit" asp-route-id="@item.ClientEvaluationId">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClientEvaluationId">Eliminar</a>
                    </td>
                }
        </tr>
}
    </tbody>
