@model Airbnb_PWEB.Models.RoleViewModel

<h1> Detalhes @Model.Nome</h1>
<br />
<br />
<table class="table table-bordered table-hover" id="mytable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Role</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status Account</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utilizador in Model.Utilizadores)
        {
        <tr>
            <td>@utilizador.Id</td>
            <td>@utilizador.FunctionRole</td>
            <td>@utilizador.FirstName</td>
            <td>@utilizador.LastName</td>
            <td>@utilizador.UserName</td>
            @if (@utilizador.EmailConfirmed) {
                <td>Activated</td>
            }
            else
            {
             <td>Disabled</td>
            }
            <td>
                <a class="btn btn-primary" asp-route-id=@utilizador.Id asp-action="Edit">Edit</a>
                <a class="btn btn-primary" asp-route-id="@utilizador.Id" asp-action="ManageAccounts">Manage</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Index">Back to List Roles</a>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
}
