@model Airbnb_PWEB.Models.RoleViewModel

<h1> Detalhes @Model.Nome</h1>
<br />
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit</th>
            @if (Model.Nome.Equals("Owner_Manager"))
            {
                <th>Delete</th>
            }
            </tr>
    </thead>
    <tbody>
        @foreach (var utilizador in Model.Utilizadores)
        {
        <tr>
            <td>@utilizador.Id</td>
            <td>@utilizador.UserName</td>
            <td>@utilizador.FirstName</td>
            <td>@utilizador.LastName</td>
            <td><a class="btn btn-primary" asp-action="Edit">Edit</a></td>
            @if (Model.Nome.Equals("Owner_Manager"))
            {
            <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@utilizador.Id">Delete</a></td>
            }
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-action="Index">Back to List Roles</a>