@model IEnumerable<Airbnb_PWEB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

@if (TempData["AlertMessage"] != null)
{
 <div class="alert alert-danger">
        <strong></strong> @TempData["AlertMessage"]
</div>
}
<div class="card shadow mb-4 col-12">
    <div class="card-header py-3">
    <table class="table" id="mytable">
        <thead>
            <tr>
                @if (User.IsInRole("Client"))
                {
                    <th>
                        Property
                    </th>
                }
                else
                {
                    <th>
                        Client
                    </th>
                }
                <th>
                    Check-In
                </th>
                <th>
                    Check-Out
                </th>
                <th>
                    Status
                </th>
                <th>
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.IsInRole("Client"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Property.Tittle)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckIn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOut)
                    </td>
                    <td>
                        @if (item.Status == StatusReservation.Approved)
                        {
                            <span class="btn btn-success ">Approved</span>
                        }
                        else if (item.Status == StatusReservation.Canceled)
                        {
                            <span class="btn btn-danger">Canceled</span>
                        }
                        else if (item.Status == StatusReservation.Checkin)
                        {
                            <span class="btn btn-secondary">Checkin</span>
                        }
                        else if (item.Status == StatusReservation.Checkout)
                        {
                            <span class="btn btn-success">Checkout</span>
                        }
                        else
                        {
                            <span class=" btn btn-warning">Pending</span>
                        }
                    </td>
                    <td>
                        @if (User.IsInRole("Client"))
                        {
                            @if (@item.Status == StatusReservation.Checkout)
                            {
                                <a asp-controller="Evaluations" asp-action="Create" asp-route-id="@item.ReservationId">Add Review</a><a> |</a>
                            }
                            <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a>
                        }
                        else if (User.IsInRole("Owner_Employeer"))
                        {
                            <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a>
                            @if (@item.Status == StatusReservation.Pending)
                            {
                                <a> | </a> <a asp-controller="ClientEvaluations" asp-action="Index" asp-route-id="@item.ApplicationUser.Id">Client Evaluation</a>
                                <a class="btn btn-primary" asp-action="Confirm" asp-route-id=@item.ReservationId>Confirm</a>
                                <a class="btn btn-danger" asp-action="Cancel" asp-route-id=@item.ReservationId>Cancel</a>
                            }
                            @if (@item.Status == StatusReservation.Canceled)
                            {
                                <a> | </a><a asp-action="Edit" asp-route-id="@item.ReservationId">Add Comment</a>
                            }
                            @if (@item.Status == StatusReservation.Approved)
                            {
                                @if (@item.ResultEntry == null)
                                {
                                    <a> | </a><a asp-controller="CheckItems" asp-action="CheckEdit" asp-route-id="@item.ReservationId">Fill CheckList CheckIn</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-action="CheckedIn" asp-route-id=@item.ReservationId>Checkin</a>
                                }
                            }
                            @if (@item.Status == StatusReservation.Checkin)
                            {
                                if (item.ResultExit == null)
                                {
                                    <a> | </a><a asp-controller="CheckItems" asp-action="CheckEdit" asp-route-id="@item.ReservationId">Fill CheckList CheckOut</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" asp-action="CheckedOut" asp-route-id=@item.ReservationId>Checkout</a>
                                    <form asp-action="AddPhotos" asp-route-id="@item.ReservationId" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <br />
                                            <input type="file" name="files" multiple required />
                                            <span asp-validation-for="@item.ImagesReservation" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </form>
                                }
                            }
                        }
                        else if (User.IsInRole("Owner_Manager"))
                        {
                            <a asp-controller="ClientEvaluations" asp-action="Create" asp-route-id="@item.ReservationId">Add Client Evaluation</a>
                            <a> | </a> <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
    </div>
    </div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#mytable').DataTable();
            });
        </script>
    }