@model IEnumerable<Airbnb_PWEB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reservas</h1>

<table class="table" id="mytable">
    <thead>
        <tr>
            @if (User.IsInRole("Client"))
            {
                <th>
                    Propriedade
                </th>
            }
            else
            {
                <th>
                    Cliente
                </th>
            }
            <th>
                Check-In
            </th>
            <th>
                Check-Out
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Client"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Tittle)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @if (item.Status == StatusReservation.Aprovada)
                    {
                        <span class="btn btn-success ">Aprovada</span>
                    }
                    else if (item.Status == StatusReservation.Cancelada)
                    {
                        <span class="btn btn-danger">Cancelada</span>
                    }
                    else if (item.Status == StatusReservation.Entregue)
                    {
                        <span class="btn btn-secondary">Entregue</span>
                    }
                    else
                    {
                        <span class=" btn btn-warning">Pendente</span>
                    }
                </td>
                <td>
                    @if (User.IsInRole("Client"))
                    {
                        @if (@item.Status == StatusReservation.Finalizada)
                        {
                            <a asp-controller="Evaluations" asp-action="Create" asp-route-id="@item.ReservationId">Avaliar Estadia</a>
                        }
                        <a asp-controller="Items" asp-action="Create" asp-route-id="@item.ReservationId">CheckList</a>
                        <a asp-action="Details" asp-route-id="@item.ReservationId">Detalhes</a>
                        @*<a asp-action="Delete" asp-route-id="@item.ReservationId">Eliminar</a>*@
                    }
                    else if (User.IsInRole("Owner_Employeer"))
                    {
                        <a asp-action="Details" asp-route-id="@item.ReservationId">Detalhes</a>
                        @if (@item.Status == StatusReservation.Pendente)
                        {
                            <a asp-controller="ClientEvaluations" asp-action="Index" asp-route-id="@item.ApplicationUser.Id">Avaliação Cliente</a>
                            <a class="btn btn-primary" asp-action="Confirm" asp-route-id=@item.ReservationId>Confirmar</a>
                            <a class="btn btn-primary" asp-action="Cancel" asp-route-id=@item.ReservationId>Cancelar</a>
                        }
                        @if(@item.Status == StatusReservation.Cancelada)
                        {
                            <a asp-action="Edit" asp-route-id="@item.ReservationId">Adicionar Comentário</a>
                        }
                        @if(@item.Status == StatusReservation.Aprovada)
                        {
                            @if (@item.ResultEntry == null)
                            {
                                <a asp-controller="CheckItems" asp-action="Edit" asp-route-id="@item.ReservationId">Preencher CheckList CheckIn</a>
                            }
                            else
                            {
                                <a class="btn btn-primary" asp-action="CheckedIn" asp-route-id=@item.ReservationId>Entregar</a>
                            }
                        }
                        @if(@item.Status == StatusReservation.Entregue)
                        {
                            <a asp-controller="CheckItems" asp-action="Edit" asp-route-id="@item.ReservationId">Preencher CheckList CheckOut</a>
                        }
                    }
                    else if (User.IsInRole("Owner_Manager"))
                    {
                        <a asp-controller="ClientEvaluations" asp-action="Create" asp-route-id="@item.ReservationId">Avaliar Cliente</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
    </script>
}