@model IEnumerable<Airbnb_PWEB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reservas</h1>

<table class="table" id="mytable">
    <thead>
        <tr>
            @if (User.IsInRole("Client"))
            {
                <th>
                    Property
                </th>
            }
            else
            {
                <th>
                    Client
                </th>
            }
            <th>
                Check-In
            </th>
            <th>
                Check-Out
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (User.IsInRole("Client"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Property.Tittle)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @if (item.Status == StatusReservation.Approved)
                    {
                        <span class="btn btn-success ">Approved</span>
                    }
                    else if (item.Status == StatusReservation.Canceled)
                    {
                        <span class="btn btn-danger">Canceled</span>
                    }
                    else if (item.Status == StatusReservation.Checkin)
                    {
                        <span class="btn btn-secondary">Checkin</span>
                    }
                    else if (item.Status == StatusReservation.Checkout)
                    {
                        <span class="btn btn-success">Checkout</span>
                    }
                    else
                    {
                        <span class=" btn btn-warning">Pending</span>
                    }
                </td>
                <td>
                    @if (User.IsInRole("Client"))
                    {
                        @if (@item.Status == StatusReservation.Checkout)
                        {
                            <a asp-controller="Evaluations" asp-action="Create" asp-route-id="@item.ReservationId">Avaliar Estadia</a>
                        }
                        <a asp-controller="Items" asp-action="Create" asp-route-id="@item.ReservationId">CheckList</a>
                        <a asp-action="Details" asp-route-id="@item.ReservationId">Detalhes</a>
                    }
                    else if (User.IsInRole("Owner_Employeer"))
                    {
                        <a asp-action="Details" asp-route-id="@item.ReservationId">Detalhes</a>
                        @if (@item.Status == StatusReservation.Pending)
                        {
                            <a asp-controller="ClientEvaluations" asp-action="Index" asp-route-id="@item.ApplicationUser.Id">Avaliação Cliente</a>
                            <a class="btn btn-primary" asp-action="Confirm" asp-route-id=@item.ReservationId>Confirmar</a>
                            <a class="btn btn-primary" asp-action="Cancel" asp-route-id=@item.ReservationId>Cancelar</a>
                        }
                        @if (@item.Status == StatusReservation.Canceled)
                        {
                            <a asp-action="Edit" asp-route-id="@item.ReservationId">Adicionar Comentário</a>
                        }
                        @if (@item.Status == StatusReservation.Approved)
                        {
                            @if (@item.ResultEntry == null)
                            {
                                <a asp-controller="CheckItems" asp-action="Edit" asp-route-id="@item.ReservationId">Preencher CheckList CheckIn</a>
                            }
                            else
                            {
                                <a class="btn btn-primary" asp-action="CheckedIn" asp-route-id=@item.ReservationId>Entregar</a>
                            }
                        }
                        @if (@item.Status == StatusReservation.Checkin)
                        {
                            if (item.ResultExit == null)
                            {
                                <a asp-controller="CheckItems" asp-action="Edit" asp-route-id="@item.ReservationId">Preencher CheckList CheckOut</a>
                            }
                            else
                            {
                                <a class="btn btn-primary" asp-action="CheckedOut" asp-route-id=@item.ReservationId>Checkout</a>
                                <form asp-action="AddPhotos" asp-route-id="@item.ReservationId" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="file" name="files" multiple required />
                                        <span asp-validation-for="@item.ImagesReservation" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Save" class="btn btn-primary" />
                                    </div>
                                </form>
                            }
                        }
                    }
                    else if (User.IsInRole("Owner_Manager"))
                    {
                        <a asp-controller="ClientEvaluations" asp-action="Create" asp-route-id="@item.ReservationId">Avaliar Cliente</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
    </script>
}