@model IEnumerable<Airbnb_PWEB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reservas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Propriedade
            </th>
            <th>
               Check-In
            </th>
            <th>
                Check-Out
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Tittle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    <a asp-controller="Evaluations" asp-action="Create" asp-route-id="@item.ReservationId">Avaliar Estadia</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservationId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
