@model IEnumerable<Airbnb_PWEB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reservas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Property.Address)
                </td>
                <td>
                    <a asp-controller="Evaluations" asp-action="Create" asp-route-id="@item.ReservationId">Comments</a> |
                    <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
