@model IEnumerable<Airbnb_PWEB.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Reservas</h1>

<table class="table">
    <thead>
        <tr>
            @if (User.IsInRole("Client"))
            {
                <th>
                    Propriedade
                </th>
            }
            else
            {
                <th>
                    Cliente
                </th>
            }
            <th>
                Check-In
            </th>
            <th>
                Check-Out
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusReservation)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @if (User.IsInRole("Client"))
            {
            <td>
                @Html.DisplayFor(modelItem => item.Property.Tittle)
            </td>
            }
            else
            {
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @if (item.statusReservation == true)
                {
                    <span class=" btn btn-success ">Confirmed</span>
                }
                else
                {
                    <span class=" btn btn-warning ">Pending</span>
                }
                @* @Html.DisplayFor(modelItem => item.statusReservation)*@
            </td>
            <td>
                <a asp-controller="Evaluations" asp-action="Create" asp-route-id="@item.ReservationId">Avaliar Estadia</a> |
                <a asp-controller="Items" asp-action="Create" asp-route-id="@item.ReservationId">CheckList</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Eliminar</a>
            </td>

        </tr>
        }
    </tbody>
</table>
