@model Airbnb_PWEB.Models.Company

<h1>Company Employeers</h1>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Status Account</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utilizador in Model.Employeers)
        {
        <tr>
            <td>@utilizador.FirstName</td>
            <td>@utilizador.LastName</td>
            <td>@utilizador.Email</td>
            @if (@utilizador.EmailConfirmed)
            {
                <td>Enable</td>
            }
            else
            {
                <td>Disable</td>
            }
            <td>
                <a class="btn btn-primary" asp-controller="Roles" asp-action="Edit" asp-route-id=@utilizador.Id>Edit</a>
                <a class="btn btn-primary" asp-controller="Roles" asp-action="ManageAccounts" asp-route-id="@utilizador.Id">Manage</a>
            </td>
        </tr>
        }
    </tbody>
    </table>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
    </script>
}