@model Airbnb_PWEB.Models.Company

<h1>Funcionários da Empresa</h1>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th>Primeiro Nome</th>
            <th>Ultimo Nome</th>
            <th>Email</th>
            <th>Estado Conta</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utilizador in Model.Employeers)
        {

            <td>@utilizador.FirstName</td>
            <td>@utilizador.LastName</td>
            <td>@utilizador.Email</td>
            @if (@utilizador.EmailConfirmed)
            {
            <td>Ativada</td>
            }
            else
            {
            <td>Desativada</td>
            }
            <td>
            <a class="btn btn-primary"  asp-controller="Roles" asp-action="Edit" asp-route-id=@utilizador.Id asp-action="Edit">Edit</a>
            <a class="btn btn-primary" asp-controller="Roles" asp-action="ManageAccounts" asp-route-id="@utilizador.Id" >Gerir</a>
            </td>
        }
    </tbody>
    </table>
@section Scripts{
    <script>
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
    </script>
}