@model Airbnb_PWEB.Models.ItemViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@using(Html.BeginForm()){
<table class="table">
    <thead>
        <tr>
            <th>
                Item
            </th>
            <th>
                Observações
            </th>
            <th>
                Entrada
            </th>
            <th>
                Saída
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itens[0].Reservation)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Itens.Count; i++) {
        <tr>
            <td>
                @Html.DisplayFor(model => model.Itens[i].Name)
                @Html.HiddenFor(model => model.Itens[i].Name)
            </td>
            <th>
                @Html.DisplayFor(model => model.Itens[i].Description)
                @Html.HiddenFor(model => model.Itens[i].Description)
            </th>
             <td>
                @Html.CheckBoxFor(model => model.Itens[i].isCheckEntry)
            </td>
             <td>
                 @Html.CheckBoxFor(model => model.Itens[i].isCheckExit)
                 @Html.HiddenFor(model => model.Itens[i].ItemId)
                 @Html.HiddenFor(model => model.Itens[i].ReservationId)
                 @Html.HiddenFor(model => model.Itens[i].Reservation)
             </td>

            <td>
                @*@Html.DisplayFor(modelItem => item.Reservation.ReservationId)*@
                 
            </td>
            
        </tr>
}
    </tbody>
</table>
    <input type="submit" value="Guardar" class="btn btn-primary" />
}
